<mat-nav-list>


  <a class="sm3" mat-list-item routerLink="/cv/education" (click)="close()">
    <span>{{ 'MENU.EDUCATION' | translate }}</span>
  </a>
  <a mat-list-item routerLink="/cv/experience" (click)="close()">
    <span>{{ 'MENU.EXPERIENCE' | translate }}</span>
  </a>
  <a mat-list-item routerLink="/cv/skills" (click)="close()">
    <span>{{ 'MENU.SKILLS' | translate }}</span>
  </a>

<!--  <a *ngIf="loggedIn && isAdmin" mat-list-item routerLink="/admin/users" (click)="close()">
    <span>Felhasználók</span>
  </a>
  <a *ngIf="loggedIn && isAdmin" mat-list-item routerLink="/admin/content" (click)="close()">
    <span>Tartalom</span>
  </a>
  <a *ngIf="loggedIn" mat-list-item routerLink="/profile" (click)="close()">
    <span>Profil</span>
  </a>
  <a *ngIf="!loggedIn" mat-list-item routerLink="/login" (click)="close()">
    <span>Bejelentkezés</span>
  </a>-->
</mat-nav-list>
