<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)"
              (onCloseSidenav)="onSidenavClose($event, sidenav)"
              [loggedIn]="loggedIn"
              [isAdmin]="isAdmin"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="custom-toolbar w-full">
      <!-- Mobile Menu Button -->
      <div *ngIf="(isSmallScreen | async)">
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <!-- Home Link -->
      <div>
        <a routerLink="/" class="toolbar-title">{{ 'PROFILE.NAME' | translate }}</a>
      </div>

      <div>
        <ul *ngIf="!(isSmallScreen | async)" class="navigation-items">
          <li>
            <a routerLink="/cv/education" routerLinkActive="active-link" mat-button>
              {{ 'MENU.EDUCATION' | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/cv/experience" routerLinkActive="active-link" mat-button>
              {{ 'MENU.EXPERIENCE' | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/cv/skills" routerLinkActive="active-link" mat-button>
              {{ 'MENU.SKILLS' | translate }}
            </a>
          </li>
        </ul>
      </div>

      <div class="block d-flex justify-content-end align-items-center navigation-items">
        <div class="language-selector">
          <img *ngIf="!(isSmallScreen | async)" [src]="getFlag(selectedLanguage)" alt="Flag" class="flag-icon">
          <select class="form-select rounded-pill" [(ngModel)]="selectedLanguage" (change)="changeLanguage($event)">
            <option value="hu">{{ 'LANGUAGE.HU' | translate }}</option>
            <option value="en">{{ 'LANGUAGE.EN' | translate }}</option>
            <option value="sr">{{ 'LANGUAGE.SR' | translate }}</option>
          </select>
        </div>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
